* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
    text-decoration: none;
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    transition: all 0,3s ease;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(o, 0, 0, o.1);
    border: none;
}
.btn:hover {
    transform: translateY(-4px);
    background-color: #f39c12;
    opacity: 75%;
}
.btn:active {
    background-color: #f69708;
    transform: translateY(2px);
}
.list {
    margin-right: 5rem;
}
.input {
    padding: 8px 12px;
    margin-left: 9px;
    width: 15rem;
    height: 2rem;
}
.list {
    padding: 30px 50px;
    margin-left: 1rem;
}
.btnDelete {
    margin-left: 5rem;
     text-decoration: none;
    background-color: #ed1b1f;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    transition: all 0,3s ease;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(o, 0, 0, o.1);
    border: none;
}
.btnDelete:hover {
    transform: translateY(-4px);
    background-color: #d32222;
    opacity: 75%;
}
.btnDelete:active{
    background-color: #e93754;
    transform: translateY(2px);
}
.main_style{
    padding: 30px 40px;
    border: solid rgba(0, 0, 0,0.02);
}
.image {
    width: 20%;
}
